#header-bar {
    height: 50px;
    margin: 15px auto;
 }

#header-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right";
    
}

.header-links {
    color:rgba(39, 39, 39, 0.87);
    height: 20px;
    margin: 8px 0px 0px 0px;
}

.header-text {
    font-family: arial,sans-serif;
    font-size: 12.5px;
}

#header-container-right{
    grid-area: "right";
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 17px;
    justify-self: end;
    margin: 0 3%;
}

#header-container-left {
    grid-area: "left";
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 17px;
    justify-self: start;
    margin: 0 3%;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.dot {
    height: 4px;
    width: 4px;
    background-color: rgba(0,0,0,0.58);
    /* border-radius: 50%; */
}

#app-widget-graphic {

    display: grid;
    grid-template-columns: 6px 6px 6px;
    grid-template-rows: 6px 6px 6px;
    grid-template-areas: 
        "1 2 3"
        "4 5 6"
        "7 8 9";
    margin: 6px 0px 0px 0px;
}

#app-widget-graphic:hover .dot{
    background-color: rgba(0, 0, 0);
}

.dot1 {grid-area: "1";}
.dot2 {grid-area: "2";}
.dot3 {grid-area: "3";}
.dot4 {grid-area: "4";}
.dot5 {grid-area: "5";}
.dot6 {grid-area: "6";}
.dot7 {grid-area: "7";}
.dot8 {grid-area: "8";}
.dot9 {grid-area: "9";}

.profile-img {
       display: block;
       border-radius: 50%;
}

#logo {
    margin-top: 130px;
    text-align: center;
}

#search-bar-container {
    margin: 25px auto auto auto;
    display: grid; 
    grid-template-columns: 500px;
    grid-template-areas: "bar-center"; 
    justify-content: center; 
    align-content: center; 
}

#search-bar-main{
    border: 1px solid  rgb(215, 215, 215);
    display: flex;
    flex-direction: row;
    height: 44px;
    width: 500px;
    
    grid-area: bar-center;
    border-radius: 50px 50px 50px 50px;
    align-content: center;
    justify-content: center;
}

#search-box {
    width: 400px;
    justify-self: center;
    border: none;
    color: gray;
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    font-size: 16px;
    align-self: center;
}

#search-form{
    grid-area: bar-center;
    justify-self: center;
    display: flex;
    flex-direction: row;
}

#search-box:focus{
    outline: none;  
}

#search-bar-main:hover{
    box-shadow: 0px 0px 4px rgb(210, 210, 210) ,0px 0px 5px rgb(224, 224, 224);
}
#search-box:focus::placeholder{
    outline: none;
    color: rgba(0,0,0,0);
}

#search-magnifying-icon{
    grid-area: bar-center;
    height: 18px;
    padding-left: 20px;
    justify-self: start;
    align-self: center;
}

#search-mic-icon{
    grid-area: bar-center;
    height: 20px;
    width: 13px;
    justify-self: end;
    align-self: center;
    padding-right: 20px;
}

#search-mic-icon:hover{
    cursor: pointer;
}

#search-button-container{
    width: 286px;
    height: 40px;
    padding-top: 30px;
    margin: auto;

}

#search-left{
    float: left;
}

#search-right{
    float: right;
}

#feeling-lucky{
    width: 145px;
    height: 38px;
    text-align: center;
    border: none;
    background-color: rgb(245, 245, 245);
    font-family: arial,sans-serif;
    font-size: 14px;
    color: rgb(105, 105, 105);
    border-radius: 3px;
}

#feeling-lucky:hover, #google-search:hover{
    border: 1px solid rgb(180, 180, 180);
    color: rgb(40, 40, 40);
    cursor: pointer;
}

#google-search{
    width: 130px;
    height: 38px;
    text-align: center;
    border: none;
    font-family: arial,sans-serif;
    font-size: 14px;
    background-color: rgb(245, 245, 245);
    color: rgb(110, 110, 110);
    border-radius: 3px;
}

#language-text{
    font-family: arial,sans-serif;
    font-size: 13px;
    text-align: center;
    color: rgb(40, 40, 40);
    margin-top: 95px;
}

#lang-link{
    color: rgb(32, 32, 175);
}

#footer-bar-container{
    width: 100%;
    height: 85px;
    position: fixed;
    bottom: 0px;
    background-color: rgb(242, 242, 242);


}

#footer-top{
    height: 50%;
    border: 1px solid  rgb(230, 230, 230);
}

#footer-bot{
    height: 50%;

}

#footer-country{
    line-height: 43px;
    padding-left: 30px;
    color: rgb(130, 120, 120);
    font-family: arial,sans-serif;
    font-size: 15px;

}

#footer-text1{
    float: left;
    padding-left: 30px;
    line-height: 42.5px;
    color: rgb(100, 100, 100);
    font-family: arial,sans-serif;
    font-size: 14px;

}

#footer-text2{
    float: right;
    padding-right: 30px;
    line-height: 42.5px;
    color: rgb(100, 100, 100);
    font-family: arial,sans-serif;
    font-size: 14px;
}